	<header class="header">
		<div class="inner header__inner">
			<h1 class="header__logo">フィードバックチャンネル</h1>
			<nav class="header__nav">
				<ul>
					<li><a href="#a-card" class="is-active">最新記事</a></li>					
				</ul>
			</nav>
		</div>
         </header>

	<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
		<span class="drawer-bars">
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
		</span>
	</button>
	<div class="drawer-background for-drawer"></div>
	<div class="drawer-content for-drawer">
		<ul>
			<li><a href="#a-card">最新テーマ</a></li>
		</ul>
	</div>



	<div class="mainvisual" style="background: transparent image-url(<%= 'mainvisual.png' %>) no-repeat top center / cover;">
		<div class="mainvisual__content">
			<div class="mainvisual__title">一番伝えたい<br class="hidden-tab hidden-pc">ことを書く</div>
			<div class="mainvisual__lead">意見をたくさんもらおう</div>
			<% if user_signed_in? %>
			  <div class="mainvisual__button"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'button-mainvisual'%></div>
			  <div class="mainvisual__button"><%= link_to '投稿する', new_board_path, class: 'button-mainvisual'%></div>
			<% else%>
			  <div class="mainvisual__button"><%= link_to "新規登録", new_user_registration_path, class: 'button-mainvisual'%></div> 
			  <div class="mainvisual__button"><%= link_to "ログイン", new_user_session_path, class: 'button-mainvisual'%></div>		
			<% end %>
		</div>
	</div>


	<section id="a-card" class="card section">
		<div class="card__inner inner">
			<h2 class="section-title">最新テーマ</h2>
			<div class="card__items">
				<%= render partial: 'board', collection: @boards %>
			</div>
			<%= paginate @board_page %>
		</div>
	</section>

    <footer class="footer">
		<div class="footer__inner inner">
			<div class="footer__contents">
				<div class="footer__center">
					<div class="footer__info">
					    <p>コンセプト<p/>
						<ul>
						   <li>自分の考えを投稿してフィードバックをもらおう。</li>
						   <li>誹謗中傷のないように。</li>
						</ul>
					</div>
				</div>	
			</div>
			<div class="footer__copy">Copyright &copy; 2020 
			  <a href="#" target="_blank"></a></div>
		</div>
	</footer>